@tailwind base;
@tailwind components;
@tailwind utilities;

body.dark {
    --color-fg-default: #dde5ed;
}


.prose a, .prose img {
    display: inline-block
}

.prose {
    /* /* max-width: fit-content; */
    max-width: 80ch;
    /* width: 100%; */
}


.w-prose {
    max-width: 80ch;
  }

.markdown-body {
    padding: 6px
}

.dark .markdown-body {

}
.dark, .dark p {
    color: #dde5ed
}

button, input, optgroup, select, textarea {
    padding: 2px;
}
.dark button, .dark input, .dark optgroup, .dark select, textarea {
    background-color: transparent;
}

aside table {
    width: 100%;
}
aside table tr {
    margin-bottom: 4px;
    width: 100%;
}

aside table tr:hover, aside table tr:focus {
    color: #dde5ed;
    background-color: #1d1d1d
}

aside table td {
    padding: 4px
}

/**
I'm so old that css selectors like these are still unbelievable
**/
.prose :where(pre,code):not(.not-prose):not(pre>code)  {
    background-color: var(--color-neutral-muted);
}

.markdown-body .highlight pre, .markdown-body code {
    font-size: 14px;
}

a {
    border-bottom: 1px solid transparent;
}
a:hover, a:focus {
    border-bottom: 1px  dashed #dde5ed;
}
/* reset for the github css */
.markdown-body a:hover, .markdown-body a:focus, .prose a:hover, .prose a:focus {
    border-bottom: 1px solid transparent;
}
.prose :where(:not(pre) > code):not(.not-prose)::after,
.prose :where(:not(pre) > code):not(.not-prose)::before {
    color: transparent;
    max-width: 0;
    display: inline-block;
}

code, article code {
    padding: 2px;
    margin: 1px 2px;
    border-radius: 3px;
    hyphens: none;
    display: inline-block;
    background-color: #4a4a4a;
}
code:hover, code:focus {
  color:  #dde5ed
}

.card:hover code {
    color:  #dde5ed
}

.prose pre + code {
    background-color: transparent;
}

.highlight, article pre code {
    background-color: #1d1d1d;
    overflow: scroll-y;
    
}

.highlight span.token.operator {
    background: transparent;
}

.highlight code, .snippet-clipboard-content code  {
    background-color: transparent;
}

article img {
    object-fit: contain;
}

article h2 {
 font-size: 16px;
}
article h3 {
    font-size: 14px;
}
