@tailwind base;
@tailwind components;
@tailwind utilities;

body.dark {
    --color-fg-default: #c9d1d9;
}


.prose a, .prose img {
    display: inline-block
}

.prose {
    max-width: fit-content;
    width: 80ch;
    /* width: 100%; */
}


.markdown-body {
    padding: 6px
}

.dark .markdown-body {

}
.dark, .dark p {
    color: #c9d1d9
}

button, input, optgroup, select, textarea {
    padding: 2px;
}
.dark button, .dark input, .dark optgroup, .dark select, textarea {
    background-color: transparent;
}

.markdown-body .highlight pre, .markdown-body code {
    font-size: 14px;
}

a:hover, a:focus {
    border-bottom: 1px  dashed white;
}
/* reset for the github css */
.markdown-body a:hover, .markdown-body a:focus {
    border-bottom: inherit
}

code, article code {
    padding: 2px;
    margin: 1px 2px;
    border-radius: 3px;
    hyphens: none;
    display: inline-block;
    background-color: #4a4a4a;
}

.highlight, article pre code {
    background-color: #1d1d1d;
    overflow: scroll-y;
    
}

.highlight span.token.operator {
    background: transparent;
}

.highlight code, .snippet-clipboard-content code  {
    background-color: transparent;
}

article img {
    object-fit: contain;
}

article h2 {
 font-size: 16px;
}
article h3 {
    font-size: 14px;
}
